body {
    background-color: #f8f9fa;
}
.sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #343a40;
    padding-top: 20px;
}
.sidebar a {
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    color: #ddd;
    display: flex;
    align-items: center;
}
.sidebar a i {
    margin-right: 10px;
}
.sidebar a:hover, .sidebar a.active {
    background-color: #495057;
    color: #fff;
}
.logout-btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.content {
    margin-left: 260px;
    padding: 20px;
}
.birthday-list .list-group-item {
    background-color:white;
    font-weight: bold;
}

.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.login-card h3 {
    text-align: center;
    margin-bottom: 30px;
    color: #5a5a5a;
}

.btn-custom {
    background-color: #007bff;
    color: white;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.btn-custom:hover {
    background-color: #0056b3;
}

.form-control {
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #ddd;
}

.form-control:focus {
    border-color: #007bff;
}

.forgot-password {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.forgot-password a {
    color: #007bff;
}

.invalid-feedback{
    display:block;
}